@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    114 Pinkneys Green<br />
    Maidenhead, Berkshire <br />
    <abbr title="Phone">M:</abbr>
    +44 78769 97095
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alex@events.com">alex@events.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nick@events.com">nick@events.com</a>
</address>