@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#ffa500">
    <h1>Events</h1>
    <p class="lead">You this app to send invites to your events to your buddies.</p>
    <p><a href="mailto:?subject=Check out this app!" class="btn btn-primary btn-lg">Share &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Event</h2>
        <p>
            Create an Event object and invite your buddies! 
        </p>
        <p><a class="btn btn-default" href="Events/Create">New Event &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Events</h2>
        <p>
            Check out all your events for the current month.
        </p>
        <p><a class="btn btn-default" href="Events/Index">View Events &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Groups</h2>
        <p>
            Create new a Group, View Group membership, Leave groups.
        </p>
        <p><a class="btn btn-default" href="restlinkgroups">Groups &raquo;</a></p>
    </div>
</div>